@model ListModel<WEB.Domain.Entities.Course>
@{
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();

    int currentPage = Model.CurrentPage;
    int totalPages = Model.TotalPages;

    int page1 = 0, page2 = 0, page3 = 0;
    if (currentPage == 1) {
        page1 = 1;
        page2 = 2 > totalPages ? 0 : 2;
        page3 = 3 > totalPages ? 0 : 3;
    }
    else if (currentPage > 1 && currentPage < totalPages) {
        page1 = currentPage - 1;
        page2 = currentPage;
        page3 = currentPage + 1;
    }
    else if (currentPage == totalPages) {
        page3 = currentPage;
        page2 = currentPage - 1;
        page1 = currentPage - 2 > 0 ? currentPage - 2 : 0;
    }

}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>Catalog</title>

</head>
<body>

<h4>Courses</h4>
    <div class="container">
        <div class="row">
            <!-- Колонка с dropdown -->
            <div class="col-2 border-2">
                <ul class="nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                           href="#" role="button" aria-expanded="false">
                            @(string.IsNullOrEmpty(ViewBag.CurrentCategory?.Name) ? "Все" : ViewBag.CurrentCategory.Name)
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item"
                                   asp-controller="Product"
                                   asp-route-category=@null>Все</a>
                            </li>
                            @foreach (var item in @ViewBag.Categories) {
                                <li>
                                    <a class="dropdown-item"
                                       asp-controller="Product"
                                       asp-route-category="@item.NormalizedName">
                                        @item.Name
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
            </div><!-- выбор категории -->

@*             @if (ViewBag.IsAjaxRequest==false) { *@
                <div id="hideable">
                <!-- Колонка с карточками курсов -->
                <div class="col-md-9">
                    <div class="row">
                        @foreach (var course in Model.Items) {
                            @if (ViewBag.CurrentCategory.NormalizedName == null || course.Category.NormalizedName == ViewBag.CurrentCategory.NormalizedName) {
                                <div class="col-md-4 mb-4">
                                    <div class="card h-100">
                                        <img src="@course.Image" class="card-img-top" alt="@course.Name">
                                        <div class="card-body">
                                            <h5 class="card-title">@course.Name</h5>
                                            <p class="card-text">@course.Description</p>
                                            <div class="border p-2 mb-3 text-center" style="border-color: #ccc; color: #333; background-color: #f7f7f7;">
                                                <strong>Price: @course.Price</strong>
                                            </div>
                                        </div>
                                        <a href="@Url.Action("Add", "Cart", new { ID = course.Id, returnurl = returnUrl })" class="btn btn-outline-primary" style="width: 100%;">Добавить в корзину</a>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <!-- Previous button -->
                        <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                            <a class="page-link"
                               asp-controller="Product"
                               asp-action="Catalog"
                               asp-route-pageNo="@(currentPage - 1)"
                               asp-route-category="@ViewBag.CurrentCategory.NormalizedName">Previous</a>
                        </li>

                        <!-- Page buttons -->
                        @if (page1 != 0)
                        {
                            <li class="page-item @(page1 == currentPage ? "active" : "")">
                                <a class="page-link"
                                   asp-controller="Product"
                                   asp-action="Catalog"
                                   asp-route-pageNo="@page1"
                                   asp-route-category="@ViewBag.CurrentCategory.NormalizedName">@page1</a>
                            </li>
                        }

                        @if (page2 != 0)
                        {
                            <li class="page-item @(page2 == currentPage ? "active" : "")">
                                <a class="page-link"
                                   asp-controller="Product"
                                   asp-action="Catalog"
                                   asp-route-pageNo="@page2"
                                   asp-route-category="@ViewBag.CurrentCategory.NormalizedName">@page2</a>
                            </li>
                        }

                        @if (page3 != 0)
                        {
                            <li class="page-item @(page3 == currentPage ? "active" : "")">
                                <a class="page-link"
                                   asp-controller="Product"
                                   asp-action="Catalog"
                                   asp-route-pageNo="@page3"
                                   asp-route-category="@ViewBag.CurrentCategory.NormalizedName">@page3</a>
                            </li>
                        }

                        <!-- Next button -->
                        <li class="page-item @(currentPage >= totalPages ? "disabled" : "")">
                            <a class="page-link"
                               asp-controller="Product"
                               asp-action="Catalog"
                               asp-route-pageNo="@(currentPage + 1)"
                               asp-route-category="@ViewBag.CurrentCategory.NormalizedName">Next</a>
                        </li>
                    </ul>
                </nav>
                </div>
            

            <div id="part">

            </div>
        </div>

    </div>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
