@model ProductPageViewModel

<div class="col-md-9">
    <div class="row">
        @foreach (var course in Model.Courses) {
            @if (ViewBag.CurrentCategory.NormalizedName == null || course.Category.NormalizedName == ViewBag.CurrentCategory.NormalizedName) {
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="@course.Image" class="card-img-top" alt="@course.Name">
                        <div class="card-body">
                            <h5 class="card-title">@course.Name</h5>
                            <p class="card-text">@course.Description</p>
                            <div class="border p-2 mb-3 text-center" style="border-color: #ccc; color: #333; background-color: #f7f7f7;">
                                <strong>Price: @course.Price</strong>
                            </div>
                        </div>
                        <a href="@Url.Action("Add", "Cart", new { ID = course.Id, returnurl = @ViewData["ReturnUrl"] })" class="btn btn-outline-primary" style="width: 100%;">Добавить в корзину</a>
                    </div>
                </div>
            }
        }
    </div>
</div>

<paginator
	current-page="@Model.CurrentPage" total-pages="@Model.TotalPages"
	page1="@Model.Page1" page2="@Model.Page2" page3="@Model.Page3"
		   current-category="@(string.IsNullOrEmpty(ViewBag.CurrentCategory?.Name) ? "Все" : ViewBag.CurrentCategory.Name)">
</paginator>